<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Z-Engine framework
  ~
  ~ @copyright Copyright 2019, Lisachenko Alexander <lisachenko.it@gmail.com>
  ~
  ~ This source file is subject to the license that is bundled
  ~ with this source code in the file LICENSE.
  ~
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="./tests/bootstrap.php"
         convertDeprecationsToExceptions="true"
        >
    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
        <report>
            <clover outputFile="./build/logs/clover.xml"/>
            <crap4j outputFile="./build/logs/crap4j.xml"/>
            <xml outputDirectory="./build/coverage/xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Z-Engine Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>
    <logging>
        <junit outputFile="./build/logs/junit.xml"/>
    </logging>
</phpunit>
